USE [master]
GO
/****** Object:  Database [PRACTICA2]    Script Date: 14/11/2023 06:02:27 ******/
CREATE DATABASE [PRACTICA2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRACTICA2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PRACTICA2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRACTICA2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PRACTICA2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRACTICA2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRACTICA2]
GO
/****** Object:  Table [dbo].[PACIENTE]    Script Date: 14/11/2023 06:02:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PACIENTE](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[edad] [int] NOT NULL,
	[peso] [decimal](10, 2) NOT NULL,
	[area] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PACIENTE] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PACIENTE] ON 

INSERT [dbo].[PACIENTE] ([codigo], [nombre], [edad], [peso], [area]) VALUES (2, N'bryan
', 15, CAST(80.00 AS Decimal(10, 2)), N'
ingeniería de sistemas')
INSERT [dbo].[PACIENTE] ([codigo], [nombre], [edad], [peso], [area]) VALUES (3, N'abi', 27, CAST(101.00 AS Decimal(10, 2)), N'RRHH')
INSERT [dbo].[PACIENTE] ([codigo], [nombre], [edad], [peso], [area]) VALUES (4, N'VERO', 47, CAST(52.00 AS Decimal(10, 2)), N'JEFATURA')
SET IDENTITY_INSERT [dbo].[PACIENTE] OFF
GO
USE [master]
GO
